[tool.poetry]
name = "ZnTrack"
version = "0.4.3"
description = "Create, Run and Benchmark DVC Pipelines in Python"
authors = ["zincwarecode <zincwarecode@gmail.com>"]
license = "Apache-2.0"
keywords=["data-science", "data-version-control", "machine-learning", "reproducibility", "collaboration"]


[tool.poetry.dependencies]
python = "^3.8"
dvc = "^2.10.2"
pyyaml = "^6.0"
znjson = "^0.1.2"
dot4dict = "^0.1.1"
tqdm = "^4.64.0"
pandas = "^1.4.2"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
sphinx-rtd-theme = "^1.0.0"
jupyterlab = "^3.4.2"
nbsphinx = "^0.8.8"
nbsphinx-link = "^1.3.0"
numpydoc = "^1.3.1"
sphinx-copybutton = "^0.5.0"
Sphinx = "^4.5.0"
pandoc = "^2.2"
numpy = "^1.21"
matplotlib = "^3.5.2"
ase = "^3.22.1"
black = "^22.3.0"
isort = "^5.10.1"
flake8 = "^4.0.1"
pre-commit = "^2.19.0"
coverage = "^6.3.3"
nbmake = "^1.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 90
preview = true

[tool.isort]
profile = 'black'
multi_line_output = 3

[tool.coverage.run]
relative_files = true
branch = true
# omit the tests themselves
omit = ["*/tests/*", "*/tmp/*"]

[tool.coverage.report]
exclude_lines = [
    "raise AssertionError",
    "raise NotImplementedError",
    "if 0:",
    "if __name__ == .__main__.:"
]
ignore_errors = true

[tool.coverage.html]
directory = "coverage_html_report"

[tool.pylint.messages_control]

max-line-length = 90

disable = [
    "logging-fstring-interpolation",
    "too-many-arguments",
    "too-many-instance-attributes",
    "dotted-import-in-loop",
    # seems to fail for some cases
    "no-else-return",
    # allow for open TODOs
    "fixme",
]
